/vendor/
**/vendor/
/tools/phpstan/vendor/
/.build/
**/.gradle/
**/.kotlin/
**/.cxx/
**/.externalNativeBuild/
**/build/
/.idea/
/.vscode/
/.pam-native/
**/.pam-native/
composer.lock
/tools/phpstan/composer.lock
local.properties
*.iml
